<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejecutar Scripts</title>
</head>
<body>
    <h1>Ejecutar Scripts</h1>
    <ul>
        <li><a href="/run_script1">Verificar binarios</a></li>
        <li><a href="/run_script2">Verificar usuarios</a></li>
        <li><a href="/run_script3">verificar logs</a></li>
        <li><a href="/run_script4">Verificar cola de mails</a></li>
        <li><a href="/run_script5">Verficar /tmp</a></li>
        <li><a href="/run_script6">Verificar ataques DDOS</a></li>
        <li><a href="/run_script7">Verificar cronjobs</a></li>
        <li><a href="/run_script8">Verificar accesos no validos por ssh</a></li>
    </ul>
</body>
</html>