<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejecutar Scripts</title>
</head>
<body>
    <h1>Ejecutar Scripts</h1>
    <ul>
        <li><a href="/hips/verificar_binarios.py">Verificar binarios</a></li>
        <li><a href="/hips/verificar_usuarios.py">Verificar usuarios</a></li>
        <li><a href="/hips/logs_check.py">verificar logs</a></li>
        <li><a href="/hips/cola_mails.py">Verificar cola de mails</a></li>
        <li><a href="/hips/tmp_check.py">Verficar /tmp</a></li>
        <li><a href="/hips/verificar_ddos.py">Verificar ataques DDOS</a></li>
        <li><a href="/hips/cron_jobs.py">Verificar cronjobs</a></li>
        <li><a href="/hips/accesos_no_validos.py">Verificar accesos no validos por ssh</a></li>
    </ul>
</body>
</html>